<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>CSGO Trade</title>
    <link href="/css/app.css" rel="stylesheet">
</head>

<header>
<div class="overlay">
    <h1>CSGO Trading</h1>
    <h3>The ultimate place to trade your skins.</h3>
    <p>Welcome to the easiest method to trade in your csgo stats!</p>
    <br></br>
    <a href="/LoginServlet">
    <img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png">

</div>
</header>
<body>
<div className="body">
    <p>Coming soon.</p>
</div>

</body>
</html>
