<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>DBI Trades</title>
    <link href="/css/app.css" rel="stylesheet">
</head>
<div id="header">
    <div id="logo">
        DBI Trades
    </div>
    <div id="header-right">
        <nav sec:authorize="isAnonymous()">
            <ul class="member-actions">
                <form name="form" th:action="@{/login/openid}" method="post">

                    <div id="openid_input_area">
                        <input id="openid_identifier" name="openid_identifier" type="hidden"
                               value="http://steamcommunity.com/openid"/>
                        <input id="openid_submit" type="image"  width="143" height="54" th:src="@{https://steamcommunity-a.akamaihd.net/public/shared/images/signinthroughsteam/sits_landing.png}"/>
                    </div>

                </form>
            </ul>
        </nav>
    </div>
</div>
<div id="subheader">
    <div id="tagline">
        The ultimate CS:GO item trading site
    </div>
    <div id="subheader-right">
    </div>
</div>
<body>
<div className="body">
<p>Coming soon...</p>
</div>

</body>
</html>
