<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>DBI Trades</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="/css/inventory.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">DBI Trades</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/welcome">Home</a></li>
            <li><a href="#">Current Trades</a></li>
            <li><a href="#">My Trades</a></li>
            <li><a href="/inventory">Inventory</a></li>
            <li><a href="/search">Search</a></li>
        </ul>
    </div>
</nav>

<div class="header">
    <center> <h3> <img th:src="${avatar}" alt="logo" /> [[${name}]]'s Inventory</h3> </center>
</div>

<body>



<!-- LAST USED GOOD CODE!!! -->
<div class="row">
    <tr th:each="item : ${inventory}">
    <div class="column">
        <div class="card">
            <p th:text="${item.name}">Card 1</p>
            <img th:src="@{{image}(image=${item.icon_url})}" style="width:100px;height:100px;" class="center" />
            <div class="btn-group">
            <a th:href="${item.inspect}"><button><img src="/pics/eye2.jpg" height="20px" width="auto"></button></a>
                <!-- TODO change links of these...-->
            <a th:href="${item.inspect}"><button><img src="https://findicons.com/files/icons/949/token/128/steam.png" height="20px" width="auto"></button></a>
            <a th:href="${item.inspect}"><button><img src="https://img.icons8.com/cotton/64/000000/detective.png" height="20px" width="auto"></button></a>
            </div>
        </div>
    </div>
    </tr>
</div>

<!--
<div className="body">
    <ul class="flex-container">
        <tr th:each="item : ${inventory}">
            <li class="flex-item">
                <img th:src="@{{image}(image=${item.icon_url})}" style="width:100px;height:100px;" />
                <div class="info-container">
                <p th:text="${item.name}"> Text</p>
                </div>
                 </li>
        </tr>
    </ul>

 </div> -->

 </body>
 </html>
