<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>DBI Trades</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="/css/search.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">DBI Trades</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/welcome">Home</a></li>
            <li><a href="#">Current Trades</a></li>
            <li><a href="/myTrades">My Trades</a></li>
            <li><a href="/inventory">Inventory</a></li>
            <li><a href="/search">Search</a></li>
        </ul>
    </div>
</nav>
<div class="overlay">

    <center> <h3>Click on a skin to search!</h3> </center>
    <p>To do add stuff.... make css better</p>


</div>
</header>
<body>


<div class="row">
    <tr th:each="item : ${inventory}">
    <div class="column">
        <div class="card">
            <h6 th:text="${item.name}">Card 1</h6>
            <img th:src="@{{image}(image=${item.icon_url})}" style="width:75px;height:75px;" />
        </div>
    </div>
    </tr>
</div>

<!--
<div className="body">
    <ul class="flex-container">
        <tr th:each="item : ${inventory}">
            <li class="flex-item">
                <img th:src="@{{image}(image=${item.icon_url})}" style="width:100px;height:100px;" />
                <div class="info-container">
                <p th:text="${item.name}"> Text</p>
                </div>
                 </li>
        </tr>
    </ul>

 </div> -->

 </body>
 </html>
