<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>CSGO Trade</title>
    <link href="/css/app.css" rel="stylesheet">
</head>

<header>
<div class="overlay">
    <h1>CSGO Trading</h1>
    <h3>The ultimate place to trade your skins.</h3>
    <p>Welcome to the easiest method to trade in your csgo stats!</p>
    <br></br>
    <h3 th:text="${name}">Profile name</h3>


</div>
</header>
<body>
<div className="body">
    <p>Coming soon.</p>
</div>

</body>
</html>
